
<form id="picture_edit_form" data-user_id="" class="row" style="margin: 0 auto;width: 100%;min-height: 150px;" >

    <div class="col s6" >

        <div class="row" style="margin: 0 auto;" >
            <div class="col s6" >
                <p style="text-align: center; font-size: 11px;" >skan zdjęcia typu paszportowe</p>
            </div>
            <div class="col s6" >
                <p class="center">
                    <img onclick="$('#fileupload_profile').click()" id="profile_img"
                         style="width:70px;height: 70px;cursor: pointer; margin: 0 auto; "
                         src="{{ asset('bundles/images/avatar-def.png') }}" alt="" class="center tooltipped"
                    >
                </p>
            </div>

        </div>
        <div class="row"  >
            <div class="file-field input-field" style="display: none;" >
                <div class="btn">
                    <span>File</span>
                    <input id="fileupload_profile" type="file" name="files[]" data-url="{{ path( "upload_tmp_file" ) }}" /> <!-- page.url( 'FileUpload' , 'uploadUserAvatar' ) -->
                </div>
            </div>

            <div style="clear:both;" > </div>

            <div id="progress_profile" class="progress" style="display: none;" >
                <div class="determinate" style="width: 0%"> </div>
            </div>
        </div>

    </div>

</form>
