<nav style="" class="blue darken-3" >
    <div class="nav-wrapper" style="padding-right: 20px;">

        <a href="{{ path('homepage') }}" class="brand-logo center">MT</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">

        </ul>
        <ul class="right hide-on-med-and-down">
             <li><a style="color: white" href="{{ path('logout') }}" >logout</a></li>
        </ul>
    </div>
</nav>