<nav style="" class="blue darken-3" >
    <div class="nav-wrapper" style="padding-right: 20px;">

        <div class="left" >
            <a href="{{ path('homepage') }}" class="waves-effect" style="padding:0px 20px ;display: inline-block;line-height: 60px;" ><i class="material-icons" style="color: whitesmoke" >keyboard_arrow_left</i></a>
        </div>

        <a href="{{ path('homepage') }}" class="brand-logo center">Ankieter</a>

        <div class="right" >
            <a href="#" class="waves-effect actionView" style="padding:0px 20px ;display: inline-block;line-height: 60px;" ><i class="material-icons" style="color: whitesmoke" >visibility</i></a>
            <a href="#" class="waves-effect actionSave" style="padding:0px 20px ;display: inline-block;line-height: 60px;" ><i class="material-icons" style="color: whitesmoke" >save</i></a>
            <a  class="waves-effect"  style="color: white;padding:0px 20px ;display: inline-block;line-height: 60px;" href="{{ path('logout') }}" ><i class="material-icons" style="color: whitesmoke" >exit_to_app</i></a>
        </div>
    </div>
</nav>