<nav style="" class="blue darken-3" >
    <div class="nav-wrapper" style="padding: 0; margin: 0">

        <a href="{{ path('homepage') }}" class="brand-logo center">Ankieter</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin:0; padding:0">

        </ul>
        <ul class="right hide-on-med-and-down">
             <li><a style="color: white" href="{{ path('logout') }}" >
                    <i class="material-icons" style="color: whitesmoke">exit_to_app</i>
                 </a></li>
        </ul>
    </div>
</nav>