<nav style="" class="blue darken-3" >
    <div class="nav-wrapper" style="padding-right: 20px;">

        <a href="{{ path('homepage') }}" class="brand-logo center">Ankieter</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">

        </ul>

    </div>
</nav>