<ul class="collection">

    <a href="{{ path('tmpl_creator') }}" class="collection-item black-text red lighten-4">Kreator</a>
    <a href="#" class="collection-item black-text red lighten-4">Nowy szablon</a>
    <a href="#" class="collection-item black-text red lighten-4">Wyślij ankietę</a>
    <a href="{{ path('forms') }}" class="collection-item black-text red lighten-4">Ankiety</a>

    <a href="{{ path('group') }}" class="collection-item black-text red lighten-4">Grupy</a>

</ul>

