
<ul class="collection">

    <a href="{{ path('tmpl_creator') }}" class="collection-item black-text red lighten-4">Kreator</a>
    <a href="#" class="collection-item black-text red lighten-4">Nowy szablon</a>

</ul>


<div style="padding-top: 20px;">


</div>



<ul class="collection">



    <a href="#" class="collection-item black-text red lighten-4">Ankiety
        <span class="badge red darken-3 white-text">999</span>
    </a>

    <a href="{{ path('group') }}" class="collection-item black-text red lighten-4">Grupy</a>




</ul>

<div style="padding-top: 20px;">


</div>


<ul class="collection">




</ul>