
{% extends ':layout:simple.html.twig' %}

{% block title %}MT:login{% endblock %}

{% block stylesheets %}

    <style type="text/css" media="screen">
        .widget-item{
            padding: 15px;
        }
        .widget-item b {
            display: block;
            margin-bottom: 15px;
            line-height: 1.5;
        }
    </style>

{% endblock %}

{% block content%}


    <!--script type="javascript" >
        $( document ).ready(function() {
            Materialize.toast(' ', 4000);
        });
    </script-->


    <div style="text-align: center; margin-top: 50px;" ><h5>Lista istniejących grup</h5></div>

{% endblock %}
