
{% extends ':layout:simple.html.twig' %}

{% block title %}MT:login{% endblock %}

{% block stylesheets %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style type="text/css" media="screen">
        .widget-item{
            padding: 15px;
        }
        .widget-item b {
            display: block;
            margin-bottom: 15px;
            line-height: 1.5;
        }

        .group {
            min-width:10vw;
            min-height:10vw;
            width:150px;
            height:150px;
            color:#fff;
            margin:3px;
        }
    </style>

{% endblock %}

{% block content%}


    <!--script type="javascript" >
        $( document ).ready(function() {
            Materialize.toast(' ', 4000);
        });
    </script-->

<div class="center">

    <div style="margin-top: 30px; margin-bottom: 20px;" ><h5>Grupy</h5></div>

    <table class="bordered striped centered">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Wyświetl</th>
            <th>Edytuj</th>
            <th>Wgraj CSV</th>
            <th>Generuj CSV</th>
        </tr>
        </thead>

        <tbody>

        {% for group in groups %}
        <tr>
            <td>{{ group.name }}</td>
            <td><i class="material-icons">search</i></td>
            <td><i class="material-icons">mode_edit</i></td>
            <td><i class="material-icons">call_received</i></td>
            <td><i class="material-icons">call_made</i></td>
        </tr>

        {% endfor %}

        </tbody>
    </table>






</div>

{% endblock %}
