
{% extends ':layout:simple.html.twig' %}

{% block title %}MT:login{% endblock %}

{% block stylesheets %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style type="text/css" media="screen">

    </style>

{% endblock %}

{% block content%}


    <!--script type="javascript" >
        $( document ).ready(function() {
            Materialize.toast(' ', 4000);
        });
    </script-->

<div class="center" style="clear:both">

    <div style="margin-top: 30px; margin-bottom: 20px;" ><h5>Grupy</h5></div>

    <table class="bordered  centered responsive-table" style="margin: 0% auto; width:55%; height:70vh">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Wgraj CSV</th>
            <th>Generuj CSV</th>
        </tr>
        </thead>

        <tbody>

        {% for group in groups %}
        <tr>
            <td>{{ group.name }}</td>
            <td><i class="material-icons">call_received</i></td>
            <td><i class="material-icons">call_made</i></td>
        </tr>

        {% endfor %}
        </tbody>


    </table>

    <p><h6><span style="font-size:180%;">+</span> Dodaj</h6></p>




</div>

{% endblock %}

{% block footer %}
<footer class="page-footer blue darken-2" style="height:10vh">
    <!--  include 'parts/footer_small.html' -->
</footer>
{% endblock %}