
{% extends ':layout:no_menu.html.twig' %}

{% block title %}Sukces{% endblock %}

{% block nav %}
{% endblock %}

{% block stylesheets %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>

    </style>


{% endblock %}

{% block content%}

<div class="row" style="clear:both;">

    <div class="col s8 offset-s3" >
        <h1>{{ message }}</h1>
    </div>
</div>

{% endblock %}


{% block javascripts %}

{% endblock %}

