
{% extends ':layout:no_menu.html.twig' %}

{% block title %}Kreator{% endblock %}

{% block stylesheets %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>

        .tabs{
            overflow-x: hidden !important;
        }

        #myForm .input-field{
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
        h5{
            margin: 0px !important;
        }
        #myForm input{
            margin: 0px !important;
        }
        #myForm{
            background-color: rgba(0, 0, 0, 0.02);
        }

        #myForm > .active{
            border: dashed 1px black;
            padding: 4px;
        }

        .FormField{
            margin: 10px;
            padding: 5px;
        }


        .FormField > .FieldConfig{
            display: none;
        }

        .FormField:hover > .FieldConfig{
            display: block;
        }

        #myForm > .active > .FieldConfig{
            display: block;
        }

    </style>


{% endblock %}

{% block content%}

<div class="row" style="clear:both;">

    <div style="margin-top: 25px; position: fixed;top: 60px;left: 15px;"  >
        <ul style="color: #03a9f4" class="tabs">
            <li style="width: 120px;font-size: 10pt;" class="tab col s3"><a class="active"  href="#test1">Dodaj pole</a></li>
            <li style="width: 120px;font-size: 10pt;" class="tab col s3"><a id="btn_settings" href="#tab_settings">Właściwości</a></li>
        </ul>
        <div id="test1" style="height: 400px;background-color: rgba(182, 30, 0, 0.59)" class="col s12">

            <div class="collection">
                <a href="#" data-tmpl="TextField" class="tmpl-tool collection-item">Pole tekstowe<div class="secondary-content"><i class="material-icons">send</i></div> </a>
                <a href="#" data-tmpl="EmailField" class="tmpl-tool collection-item">Pole email<div class="secondary-content"><i class="material-icons">send</i></div> </a>
                <a href="#" data-tmpl="TextArea" class="tmpl-tool collection-item">Obszar tekstu<div class="secondary-content"><i class="material-icons">send</i></div> </a>
                <a href="#" data-tmpl="SelectBox" class="tmpl-tool collection-item">Select<div class="secondary-content"><i class="material-icons">send</i></div> </a>
                <a href="#" data-tmpl="RadioGroup" class="tmpl-tool collection-item">Grupa radio<div class="secondary-content"><i class="material-icons">send</i></div> </a>
            </div>

        </div>

        <div id="tab_settings" style="height: 400px;background-color: rgba(182, 30, 0, 0.59)" class="col s12">Test 2</div>
    </div>

    <div class="col s3" style="height: 100%;margin-top: 25px"  >
    </div>
    <div class="col s9" >
        <div style="clear:both;margin-top: 25px;max-width: 860px;" >

            <form id="myForm" class="col s10" >

            </form>

            <div class="col s2" >

            </div>

            <form id="tmpl" class="col s12" style="display:none; background-color: rgba(0, 0, 0, 0.02)" >
                <div data-type="TextField" class="row FormField">
                    <div class="input-field col s12">
                        <input id="text_field" type="text" class="validate">
                    </div>
                </div>
                <div data-type="EmailField" class="row FormField">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div data-type="TextArea" class="row FormField">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Textarea</label>
                    </div>
                </div>
                <div data-type="SelectBox" class="row FormField">
                    <div class="input-field col s12">
                        <label>Browser Select</label>
                        <select class="browser-default">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                </div>
                <div data-type="RadioGroup" class="row FormField">
                    <div class="input-field col s12">
                        <p>
                            <input name="group1" type="radio" id="test1" />
                            <label for="test1">AAA</label>
                        </p>
                        <p>
                            <input name="group1" type="radio" id="test2" />
                            <label for="test2">BBB</label>
                        </p>
                        <p>
                            <input name="group1" type="radio" id="test3" />
                            <label for="test3">CCC</label>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="templates" style="display: none;" >
        <div data-type="TmplFieldConfig" class="input-field col s3 FieldConfig" >
            <button href="#" class="  btnUP">UP</button>
            <button href="#" class="  btnDOWN">DOWN</button>
            <!--button href="#" class="  btnPROP">PROP</button-->
        </div>

        <div data-type="TmplFieldHeader" class="FieldHeader" >
            <h5><span class="title_num" >[Num]</span> <span class="title" >[Title]</span></h5>
        </div>
        <div data-type="BasicFieldSetting" style="background-color: whitesmoke" >
            <div class="row">
                <div class="input-field col s12">
                    <input id="fieldName_input" type="text" class="validate">
                    <label for="fieldName_input" >Nazwa pola</label>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}


{% block javascripts %}

    <script type="text/javascript" >
        $(document).ready(function(){

            var API_HOST = "{{ url('api_host') }}";
            var SERVER = {
                ROUTER : {
                    TEST1 : API_HOST + "/group/test1",
                    TEST2 : API_HOST + "/group/test2/{id}",
                }
            };

            var Form = {

            };

            var CreatorModule = {
                ids:[],

                init: function () {
                    var sender = this;
                    $('ul.tabs').tabs();

                    $('.tmpl-tool').click(function() {
                        tmpl = $(this).attr("data-tmpl");
                        var fieldView = $('#tmpl > [data-type='+tmpl+']').clone(true);
                        sender.genId( fieldView , tmpl );
                        //var editView = $('#templates > [data-type=TmplFieldConfig]').clone(true);
                        //editView.appendTo(fieldView);
                        var headerView = $('#templates > [data-type=TmplFieldHeader]').clone(true);
                        headerView.find(".title").html(fieldView.attr("id"));
                        fieldView.prepend( headerView );
                        fieldView.appendTo( "#myForm" );
                        sender.onFormChanged();


                        $('#fieldName_input').on('input',function(e){
                             var text = $(this).val();
                             var id = $(this).attr("data-id");
                             $("#"+id+" .title").html(text);
                        });

                    });

                    $(document).ready(function() {
                        $('select').material_select();
                    });


                    $('.FormField').click(function() {
                        var id = $(this).attr("id");
                        sender.selectField(id);

                        $("#btn_settings").click();
                        var basicFieldSetting = $('#templates > [data-type=BasicFieldSetting]').clone(true);
                        var tabView = ("#tab_settings");
                        $("#tab_settings").html("");
                        basicFieldSetting.appendTo(tabView);

                        $(basicFieldSetting).find( "#fieldName_input").attr("data-id",id);
                        $(basicFieldSetting).find( "#fieldName_input").val( $("#"+id + " .title").html()  );
                        Materialize.updateTextFields();
                    });

                },
                selectField : function( id ){
                    $("#myForm > .active").removeClass("active");
                    $("#"+id).addClass("active");
                },
                onFormChanged : function(){
                    var num = 1;
                    $( "#myForm > .FormField" ).each(function( index ) {
                        var header = $( this).find(".FieldHeader");
                        header.find(".title_num").html(num + ")");
                        num++;
                    });
                },
                genId : function( fieldView , type ){
                    if(this.ids[type]==null){
                        this.ids[type] = 0;
                    }
                    var id = ++this.ids[type];
                    fieldView.attr( "id" , type + "_" + id );
                    fieldView.attr( "data-id" , id );
                }
            };
            CreatorModule.init();
        });
    </script>
{% endblock %}

